name: API Mgmt APIOPS Extractor
 
on:
  workflow_dispatch:
    inputs:
      source-enviroment:
        type: string
        required: true
        default: dev
 
permissions:
  contents: write
  pull-requests: write
 
jobs:
  call-build:
    uses: github.com/juliobsilva/api-management/tree/main/.github/workflows/apim-apiops-extractor.yaml@main
    with:
      source-enviroment: ${{ inputs.source-enviroment }}
    secrets: inherit